   :root {
    --primary-blue: #1e5eff;
    --dark-blue: #0b1a33;
    --accent-orange: #ff9f1c;
    --bg-dark: #0f172a;
    --bg-light: #ffffff;
    --text-dark: #111827;
    --text-muted: #6b7280;
}

    
    body {
    margin: 0;
    background: #f6f7fb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #0b1a33;
    padding: 20px;
}

.brand {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
}

.logo-text {
    margin-left: 0.7rem;
    color: #f6f7fb;
}

.logo-text h3:hover {
    color: #ff9f1c;
}

.nav {
    margin: auto;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
}

.search {
    margin-left: auto;
}