   :root {
    --primary-blue: #1e5eff;
    --dark-blue: #0b1a33;
    --accent-orange: #ff9f1c;
    --bg-dark: #0f172a;
    --bg-light: #ffffff;
    --text-dark: #111827;
    --text-muted: #6b7280;
}

    
    body {
    margin: 0;
    background: #f6f7fb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #0b1a33;
    padding: 20px;
}

.brand {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
}

.logo-text {
    margin-left: 0.7rem;
    color: #f6f7fb;
}

.logo-text h3:hover {
    color: #ff9f1c;
}

.nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.search {
    margin-left: auto;
}

#active {
    background: linear-gradient(135deg, #ff9f1c, #ffb703);
    color: #ffffff;
    padding: 50px 18px;
    font-weight: 700;
    box-shadow:
        0 0 12px rgba(255,159,28,0.7),
        inset 0 0 12px rgba(255,255,255,0.3);
}

.unactive {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.unactive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: var(--accent-orange);
  transition: width 0.3s ease;
}

.unactive:hover::after {
  width: 100%;
}